.container {
    
    margin: 0px;
    /* grid-template-columns: repeat(3px, 9fr); */
    padding: 0px;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    grid-gap: 5px;
    grid-template-areas: 
    'header header header'
    'content section section'
    'main main main'
    'sidebar sidebar sidebar'
    ' box-5 box-4 box-4'
    'footer footer footer';
}
.header {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
    'logo listbox listbox';
   
}
.logo {
    grid-area: logo;
}
.listbox {
    grid-area: listbox;
    padding: 20px;
    float: right;
        }
html, .container {
    width: 100%;
    height: 100%;
    margin: 0;
}
.nav {
        text-align: right;
       
}
label { 
    margin: 0 0 0 300px; /* This mean margin top = 0, right = 0, down = 0 and left = 300px*/
    line-height: 70px;
    display: none; /*Here we do not want the hamburger which is &#9776 to show on the desktop view*/
}
.listbox li a {
    text-decoration: none;
}


#toggle {
    display: none;
}

/*@Media is a query that ensure a specific size of screen is shown which is below 500px. Anything below 500px will display on mobile view and those above 500px would not show. */
@media (max-width: 760px) {
    label {
        display: block;
        cursor: pointer;
        font-size: 26px;
    }
    .listbox {
        display: none;
        position: absolute;
        width: 150px;
        z-index: 2;
        background: black;

    }
    .listbox li a {
        display: block;
        border-bottom: 1px solid #0202db;
       
    }
    #toggle:checked + .listbox {
        display: block;
    }
}
@media (max-width:768px){
    .container {
        grid-template-areas: 
         'header'
         'content'
         'section'
         'main'
         'sidebar'
         'box-4'
         'box-5'
         'footer'
        ;
    }
    .header {width: 100%;}
    .footer {width: 100%;}
}
.header {
    grid-area: header;
    background: linear-gradient(50deg, rgb(71, 102, 102), rgb(73, 73, 113), gray, rgb(91, 68, 68), rgb(55, 74, 55));
}
img {
    margin: 0;
    
}
.header .listbox li a{
    font-size: 20px;
    color: firebrick;
    text-decoration: none;
    padding: 10px ;

    }
    .listbox li a:hover {
        color: yellow;
        border-radius: 50%;
    }
    .listbox li {
        float: left;
        list-style: none;
        padding: 15px;
    }
.line-1 {
    background: white;
    width: 200px;
    height: 10px;
     margin: auto; 
    border-radius: 10px;
}
.line-0 {
    background: black;
    height: 1px;
    /* width: 500px; */
}
.lin {
    background: yellow;
    width: 60px;
    height: 3px;
    margin: auto;
}
.main {
    grid-area: main;
    background: linear-gradient(45deg, rgb(118, 74, 84),  rgb(91, 92, 62),  rgb(109, 81, 65),  rgb(92, 85, 51),  rgb(85, 64, 64));
    color: antiquewhite;
    text-align: center;
    padding: 10px;
}

#boxcon {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
#box {
    margin: auto;
}
.head {
    grid-area: head;
}
#box {
    background: white;
    height: 390px;
    color: gray;
    width: 300px;
    padding-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 50px black;
}
.main img {
    margin: auto;
}
.text-1{
    margin-left: 100px;
    grid-area: text-1;
    display: grid;
}
.text-2{
    display: grid;
    grid-area: text-2;
}
.text-3{
    display: grid;
    grid-area: text-3;
}
.content {
    grid-area: content;
   background-color: grey;
    background-image: url('../image/hero.png');
    background-repeat: no-repeat;
    background-position: center center ;
    background-size: cover;
}
.content p {
    font-size: 30px;
}
.chain {
    color: black;
    line-height: 2em;
    font-size: 30px;
    font-family: 'Arial Narrow Bold', sans-serif;
}
#box-4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    grid-area: box-4;
    text-align: center;
    background: rgb(104, 86, 62);
}
#box-4 b {
    font-size: 50px;
    color: gray;
}
#box-4 a:hover {
    color: yellowgreen;
}
#box-4 a {
    color: white;
}
#box-4 img {
    width: 20px;
    height: 20px;
}
span {
    font-size: 37px;
    color: burlywood;
}
.movement {
    border-radius: 15px;
    background: black;
    color: rebeccapurple;
    border: 4px brown solid;
    width: 200px;
    animation: move 2s infinite;
}
@keyframes move {
20% {
    color: blue;
}
40% {
    color: green;
}

60% {
    color: yellow;
}
80% {
    color: red;
}
100% {
    color: rebeccapurple;
}
}
.sidebar {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    grid-area: sidebar;
    background-color: rgb(198, 191, 191);
   
}
.ims {
    padding-bottom: 29px;
}
.sidebar img {
    border: none;
    padding-left: 90px;
}
.footer {
    grid-area:footer;
    text-align: left;  
background: rgb(61, 56, 56);
color: wheat;
}
img {
    border: none;
}
.line {
    background-color: yellow;
    width: 100px;
    height: 3px;
    border-radius: 5px;
    margin-left: 10px;
} 
footer ul li {
    list-style: none;
    text-decoration: none;
}
.section {
    text-align: center;
    grid-area: section;
    background: radial-gradient(circle, rgb(189, 193, 129), rgb(175, 158, 161), rgb(117, 139, 108), rgb(176, 213, 228), rgb(152, 150, 186));
}
section p {
    font-size: 20px;
}
.hire{
    background: black;
    color: white;
    font-size: 25px;
}
.hire:hover{
    background: grey;
    color: yellowgreen;
    font-size: 25px;
}
.box-5 {
    grid-area: box-5;
    background: black;
    color: antiquewhite;
    text-align: center;
}
.box-5 #one {
    color: rgb(89, 182, 219);
}
.box-5 #two {
    color: yellow;
}
.box-5 #get {
    background: red;
    color: white;
    width: 200px;
    height: 50px;
    animation: get 3s  infinite;
}
@keyframes get {
    20% {
        background:yellow;
        color: blue;
    }
    60% {
        background: blue ;
        color: orange;
    }
    80% {
        background:red ;
        color: green;
    }
}
.box-5 #get:hover {
    background: rgb(113, 1, 1);
    color: gainsboro;
}
#quick {
    text-align: left;
}
.line {
    background-color: yellow;
    width: 100px;
    height: 3px;
    border-radius: 5px;
    margin-left: 9px;
    text-align: left;
} 
.listbox-2 li a {
    text-decoration: none;
    color: wheat;
    line-height: 2rem;
}
footer ul li {
    list-style: none;
    text-decoration: none;

}
.listbox-2 li a:hover {
    color: yellowgreen;
}