.container {
    margin: 0px;
    grid-template-rows: 0.1fr 1frfr 2fr 1fr;
    grid-template-columns: repeat(3px, 10fr);
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-gap: 5px;
    grid-template-areas: 
    'header header'
    'section section'
    'main main'
    'footer footer';
}
@media (max-width:760px) {
    .container {
      grid-template-areas: 
       'header'
       'section'
       'main'
       'footer'
      ;
    } 
}
html, .container {
    width: 100%;
    height: 100%;
    margin: 0;
}
.header {
    grid-area: header;
    display: grid;
    grid-template-areas: 
     'logo listbox listbox'
    ;
    background: linear-gradient(50deg, rgb(71, 102, 102), rgb(73, 73, 113), gray, rgb(91, 68, 68), rgb(55, 74, 55));

}
label {
    display: none; 
}
#toggle {
    display: none;
}
.header .listbox li a{
font-size: 20px;
color: firebrick;
text-decoration: none;

}
.listbox li a:hover {
    color: yellow;
}
.listbox li {
    padding-left: 90px;
    float: left;
    list-style: none;
}
.logo {
    grid-area: logo;
}
.listbox {
    grid-area: listbox;
    padding: 20px;
    float: right;
}  
@media (max-width: 850px) {
    label {
        margin: 15px 5px 10px 300px; /* This mean margin top = 0, right = 0, down = 0 and left = 300px*/
        float: inline-end;
        display: block;
        cursor: pointer;
        font-size: 26px;
    }
    .listbox {
        border: 1px white solid;
        height: 300px;
        display: none;
        position: absolute;
        width: 200px;
        z-index: 2;
        line-height: 5em;
        opacity: 87%;
        background: black;

    }
    .listbox li a {
        padding-left: 0;
        padding-right: 70px;
        display: block;
        border-bottom: 1px grey solid;
       
    }
    #toggle:checked + .listbox {
        display: block;
    }
}    
.section {
    grid-area: section;
    background: grey;
    padding: 10px;
    padding-left: 67px;
}
.box-con{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.section img {
    border-radius: 5%;
}
.head {
    grid-area: head;
    text-align: center;
}
.port {
    color: gainsboro;
    font-size: 50px ;
}
#box {
    box-shadow: 0 0 25px black;
}
.box-1 {
    grid-area: box-1;
    background: lightgray;
    width: 330px;
    text-align: center;
    padding:4px;
    border-radius: 5%;
    height:450px;
}
.box-2 {
    grid-area: box-2;
    background: lightgray;
    width: 330px;
    border-radius: 5%;
    padding:4px;
    text-align: center;
    height:450px;
}
.box-3 {
    grid-area: box-3;
    background: lightgray;
    width: 330px;
    padding:4px;
    text-align: center;
    height:450px;
    border-radius: 5%;
}
.main {
    grid-area: main;
    background: black;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    padding: 7px;
}
 span {
    font-size: 20px;
    color: yellow;
    padding: 6px;
    text-decoration: none;
}
.footer {
    grid-area: footer;
    display: grid;
    grid-template-areas: 
     'list contact'
    ;
    background: rgb(73, 70, 70);
}
footer ul li {
    list-style: none;
    text-decoration: none;
}
#quick {
    text-align: left;
    color: burlywood;
}
.line {
    background-color: yellow;
    width: 100px;
    height: 3px;
    border-radius: 5px;
    margin-left: 9px;
    text-align: left;
} 
.footer li a {
    text-decoration: none;
    color: wheat;
    line-height: 2rem;
}
footer ul li {
    list-style: none;
    text-decoration: none;

}
.footer li a:hover {
    color: yellowgreen;
}
#contact {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 7px;
    grid-area: contact;
    color: wheat;
}
#contact b {
    font-size: 27px;
    color: yellow;
}
#contact a:hover {
    color: yellowgreen;
}
#contact a {
    color: wheat;
}
#contact img {
    width: 20px;
    height: 20px;
}

@media(max-width:760px){
    .footer {
        grid-template-areas: 
        'list'
        'contact'
        ;
    }
}