.container {
    margin: 0px;
    grid-template-columns: repeat(3px, 10fr);
    padding: 3px;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    grid-gap: 5px;
    grid-template-areas: 
    'header header header'
    'section section section'
    'footer footer footer';
}
html, .container {
    width: 100%;
    height: 100%;
    margin: 0;
}
.header {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
    'logo listbox listbox';
   
}
.logo {
    grid-area: logo;
}
.listbox {
    grid-area: listbox;
    padding: 20px;
    float: right;
        }

.nav {
        text-align: right;
    }
label { 
        display: none; /*Here we do not want the hamburger which is &#9776 to show on the desktop view*/
    }
.listbox li a {
    text-decoration: none;
    line-height: 9px;
}


#toggle {
    display: none;
}

/*@Media is a query that ensure a specific size of screen is shown which is below 500px. Anything below 500px will display on mobile view and those above 500px would not show. */
@media (max-width: 760px) {
    label {
        float: inline-end;
        display: block;
        cursor: pointer;
        font-size: 26px;
    }
    .listbox {
        display: none;
        position: absolute;
        right: 5px;
        width: 150px;
        z-index: 2;
        top: 30px;
        background: black;
    }
    .listbox li a {
        display: block;
        border-bottom: 1px solid #0202db;
       
    }
    #toggle:checked + .listbox {
        display: block;
    }
}
.header {
    grid-area: header;
    background: linear-gradient(50deg, rgb(71, 102, 102), rgb(73, 73, 113), gray, rgb(91, 68, 68), rgb(55, 74, 55));
}
.header .listbox li a{
    font-size: 20px;
    color: firebrick;
    text-decoration: none;
    padding: 10px;
    }
    .listbox li a:hover {
        color: yellow;
        border-radius: 50%;
    }
    .listbox li {
        float: left;
        list-style: none;
        padding-right: 70px;
    }
    .listbox {
        float: inline-end;
    }

    .section {
        color: rgb(165, 165, 165);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        text-align: center;
        grid-area: section;
        background: linear-gradient(151deg, #000, #282222 7%, #35484b 25%, #576f70 72%, #031317 89%);
    }
.wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
#box {
    padding: 7px;
    width: 300px;
    height: 300px;
    transition-property: all;
    transition-duration: 3s ;
}
#box:hover {
    background-color:linear-gradient(151deg, #000, #282222 7%, #35484b 25%, #576f70 72%, #031317 89%);;
    height: 300px;
    color: lightgray;
    width: 300px;
    padding-top: 7px;
    border-radius: 10%;
    box-shadow: 0 0 50px black;

}
    .section #heading {
        color:  whitesmoke;
        font-size: 35px;
    }

    .footer {
        grid-area:footer;
        padding-left: 7px;
        text-align: left;  
    background: rgb(61, 56, 56);
    color: wheat;
    }
    footer ul li {
        list-style: none;
        text-decoration: none;
    
    }
    img {
        border: none;
    }
    #quick {
       text-align: left;
    }
    .line {
        background-color: yellow;
        width: 100px;
        margin-left: 10px;
        height: 3px;
        border-radius: 5px;
       text-align: left;
    } 
    .listbox-2 li a {
        text-decoration: none;
        color: wheat;
        line-height: 2rem;
    }
    .content {
        line-height: 2rem;
       text-align: left;
    }
    footer ul li {
        list-style: none;
        text-decoration: none;
    
    }
    .listbox-2 li a:hover {
        color: yellowgreen;
    }